
nav.navbar.navbar-default.navbar-fixed-top: .container
    .navbar-header
        button.navbar-toggle.collapsed(
        type='button' data-toggle='collapse' aria-expanded='false' target='.navbar-collapse' ng-click="isCollapsed = !isCollapsed"): span.fa.fa-bars.fa-lg
    .collapse.navbar-collapse#nav-collapse(uib-collapse="!isCollapsed")
        ul.nav.navbar-nav
            li.active: a(href='/') Intro
            li.dropdown
                a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Examples #[span.caret]
                ul.dropdown-menu
                    li: a(href='/examples/circadian-lighting') Intelligent Lighting
                    li.disabled: a.disabled 2D/3D Sunlight
            li: a(href='/docs') API Documentation
