block setLocation
.container(ng-app='locationApp')
  div(ng-controller='LocationCtrl')
    .row
      .col-sm-5.panel.location-panel
        .row: h4.text-center Fetching current location...
        .row
          .col-xs-6: img.pull-left.img-thumbnail(src='/images/allow-location.jpg')
          .col-xs-6: p.pull-right.text-center This demonstration requires your geolocation for the best possible experience.
      .col-sm-6.col-sm-offset-1.panel.location-panel
        row: h4.text-center Privacy concerns? 
        row
          .col-xs-12: h6.text-center: small Manually set a location, which is stored in an ecrypted cookie.
          .col-xs-12: .well.input-group#searchbox
            span#setLocationSubmit.btn.btn-primary.input-group-addon(type='button' ng-click='setLocation()') Use this location
      .row
        .col-xs-12.well
          ui-gmap-google-map(center='map.center' zoom='map.zoom' control='map.control')#map
            ui-gmap-search-box(events='searchbox.events' template='searchbox.template' parentdiv='searchbox.parentdiv')
            ui-gmap-marker(coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id")

append head-js
  //script.
    navigator.geolocation.getCurrentPosition(function(position){
      window.location.search = '?lat='+ position.coords.latitude + '&long=' +position.coords.longitude;
      });
  script(src='//maps.googleapis.com/maps/api/js?sensor=false&libraries=places,timezone')
