extends layout

append js
  //- /script.
    navigator.geolocation.getCurrentPosition(function(position) {
      window.location.search = 'lat=' + position.coords.latitude + 'long=' + position.coords.longitude;
    });
  div(ng-app='previewApp')
    .container(ng-ctrl='PreviewCtrl')

