doctype html
html

    //- HTML HEADER
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(property="og:url" content="")
        meta(property="og:type" content="website")
        meta(property="og:title" content="Circadian.Js")
        meta(property="og:description" content="Circadian is a tool to calculate the color temperature of light at any time of day")
        meta(property="og:image" content="")
        meta(property="og:image:width" content="768")
        title= title || 'Circadian API'
        //link(rel="shortcut icon", href="/favicon.ico")
        link(href='/styles/site.css' rel='stylesheet')
        block css
    body
        block nav
            nav.navbar.navbar-default.navbar-fixed-top: .container
                .navbar-header
                    button.navbar-toggle.collapsed(
                    type='button' data-toggle='collapse' aria-expanded='false' target='#nav-collapse')
                .collapse.navbar-collapse#nav-collapse
                    ul.nav.navbar-nav
                        li.active: a(href='/') Intro
                        li.dropdown
                            a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Examples #[span.caret]
                            ul.dropdown-menu
                                li: a(href='#') Natural Lighting (Three.js)
                        li: a(href='/docs') API Documentation

        block content
        block js
            script(src='/js/bundle.js')
            if env == 'development'
                script(src='//'+address+':1337/livereload.js')