@import 'paper/variables';
@import 'bootstrap';
@import 'paper/bootswatch';
@import 'bourbon/bourbon';
@import 'font-awesome';
body{
  padding-top: 70px;
}

.text-shadow{
text-shadow: 4px 2px 2px rgba(150, 150, 150, 1);}

.angular-google-map-container{
  height: 420px;
}

#searchbox input{
  @include margin(null 1em null 1em);
}

#intro ul span.fa {
  font-size: 2em;
}
#intro h1{
  @include margin(0px null null null);
}

.location-panel{
  height: 14em;
}
